body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #454545;
}
.logo {
    width: 200px;
    height: 200px;
    /* this is a real image encoded via base64 text, an awesome technology! check https://varvy.com/pagespeed/base64-images.html for more info */
    background:  url('data:image/png');
    margin: 20px 30px;
}
.navigation {
    margin-left: 33px;
}
.navigation a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #454545;
    color: #454545;
    background: transparent;
}
.navigation a:hover {
    background: #454545;
    color: #fff;
}
.container {
    padding: 20px;
    margin: 33px;
    text-align: center;
}
.container a {
    color: #454545;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.footer {
    border-radius: 3px;
    padding: 20px;
    margin: 33px;
    text-align: center;
    font-size: 11px;
}
.footer a {
    color: #454545;
}


input{
    text-align: center;
}

.rotate {
    position: absolute;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.main {
    border: 1px solid black;
    margin-left: 18%;
    margin-right: 18%;
    padding: 25px;
    background-color: #156;
    color: white;
}

.menu {
    list-style-type: none;
    margin-left: 18%;
    margin-right: 18%;
    padding: 0;
    overflow: hidden;
    background-color: #156;
}

.link {
    float: left;
}

.link .alink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.alink {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

.link .alink:hover{
    color: red;
    text-decoration: underline;
}

.link .alink  {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    display: none;
}

#dropbtn:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #156;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}